<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body style="font-size:20px; padding:50px;">
  <header>
    <% include partials/_header %>
  </header>

  <table>
    <tbody>
      <tr>
        <td style="padding: 5px"><b>Tiny URL:</b> <%= shortURL %></td>
      </tr>
      <tr>
        <td style="padding: 5px"><b>Full URL:</b> <%= longURL %></td>
      </tr>
      <tr>
        <td style="padding: 5px">
          <form action="/urls/<%= shortURL %>" method="post" >
            <label for="longURL">Update this URL:
              <input id="longURL" type="url" name="longURL" value="<%= longURL %>" placeholder="http://" style="width: 300px" />
              <input type="submit" value="Update" />
            </label>
          </form>
        </td>
      </tr>
      <tr>
      <td style="padding: 5px">
          <form action="/urls/<%= shortURL %>/delete" method="POST" id="shortURL" type="submit" value="Delete">
            <input type="submit" value="Delete" />
          </form>
        </td>
      </tr>
      <tr>
        <td style="padding: 5px">
         <button style="padding: 5px"><a href="/urls/new">Add a New URL</a></button>
       </td>
     </tr>
   </table>


 </body>
 </html>