<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>

<body>

  <header>
    <% include partials/_header %>
  </header>

  <main>

    <div class="container">
      <% if (userID) { %>

      <h1>My URLs</h1>
      <table>
        <tbody>
          <% for (let urlKey in urls) {
          const shortURL = urlKey;
          const longURL = urls[urlKey]; %>
          <tr>
          <td><a href="/u/<%= shortURL %>"><%= shortURL %></a></td>
            <td><span>---></span></td>
            <td><%= longURL %></td>
            <td><a class="button" href="/urls/<%= shortURL %>">Edit</a></td>
            <td>
              <form action="/urls/<%= shortURL %>/delete" method="POST" id="shortURL" type="submit" value="Delete">
                <input type="submit" class="button" value="Delete" />
              </form>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
      <p>
        <a class="button" href="/urls/new">Add a New URL</a>
      </p>

      <%} else {%>

      <p>*User not logged in*</p>
      <p>Log in to access user features and start creating tiny URLs!</p>
      <% } %>

    </div>

  </main>

</body>
</html>