<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
    <% include partials/_header %>
  </header>

  <table>
    <tbody>
      <tr>
        <td>
          <h2>Tiny URL:</h2>
          <div><a href="/u/<%= shortURL %>"><%= shortURL %></a></div>
        </td>
      </tr>
        <td>
          <p>To share this Tiny URL, right-click on the link, select "copy link address", and paste it wherever you want.</p>
        </td>
      </tr>
      <tr>
        <td>
          <h2>Full URL:</h2>
          <div><%= longURL %></div>
        </td>
      </tr>
      <tr>
        <td>
          <form action="/urls/<%= shortURL %>" method="post" >
            <label for="longURL">Update this URL:</label>
            <input id="longURL" type="url" name="longURL" value="<%= longURL %>" placeholder="http://" />
            <input type="submit" class="button" value="Update" />
          </form>
        </td>
      </tr>
      <tr>
        <td>
          <form action="/urls/<%= shortURL %>/delete" method="POST" id="shortURL" type="submit" value="Delete">
            <input type="submit" class="button" value="Delete" />
          </form>
        </td>
      </tr>
      <tr>
        <td>
          <a class="button" href="/urls/new">Add a New URL</a>
        </td>
      </tr>
    </table>

  </body>
  </html>